/* Home.css */

/* Common styles for larger screens */
.home {
  width: 100%;
  max-width: 1800px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  overflow-y: auto;
}

.headerContainer {
  width: 50%; /* Take up 50% of the available space on the left */
  padding: 20px;
  margin-bottom: 400px;
}

.centralImageContainer {
  width: 50%; /* Take up 50% of the available space on the right */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 400px;
}

.centralImage {
  max-width: 100%;
  max-height: 100%;
}

.headerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.headerContainer h1 {
  font-size: 40px;
  color: #dc143c;
  margin-bottom: 10px;
}

.headerContainer p {
  font-size: 20px;
  color: black;
  text-align: center;
}

.headerContainer button {
  background-color: #dc143c;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  height: 50px;
  width: 180px;
  margin-top: 20px;
  font-size: 20px;
  text-decoration: none;
}

.headerContainer button:hover {
  background-color: #8b0000;
  transition: background-color 0.3s ease-in;
}

.foodCardContainer {
  /* Adjust the margin-left to move the container to the right */
  margin-left: 200px; /* This will push it to the right */
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 300px;
}

.foodCardContainer h1 {
  color: #dc143c;
  margin-bottom: 20px;
}
.foodCard1,
.foodCard2,
.foodCard3 {
  background-color: #fff;
  display: flex;
  align-items: center;
  height: 120px;
  width: 379px;
  border-radius: 100px 0 0 100px;
  margin-bottom: 20px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
  border: 1px solid #dc143c;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.foodCard1:hover,
.foodCard2:hover,
.foodCard3:hover {
  background-color: #dc143c;
  height: 120px;
  width: 400px;
  border-radius: 100px 0 0 100px;
  margin-bottom: 20px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
  border: 1px solid #fff;
  transform: translateX(-20px);
  color: #fff;
}

.foodCard1 img,
.foodCard2 img,
.foodCard3 img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 100px;
  margin-right: 20px;
}

.foodCard1 p,
.foodCard2 p,
.foodCard3 p {
  flex: 1;
  font-size: 16px;
  color: #dc143c;
  margin-right: 10px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.foodCard1:hover p,
.foodCard2:hover p,
.foodCard3:hover p {
  color: #fff;
}

/* Media query for screens with a maximum width of 650px */
@media only screen and (max-width: 650px) {
  .home {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    max-height: 100vh;
    background-color: #fff;
  }

  .headerContainer {
    margin-left: 0px;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    margin-bottom: 0;
  }

  .headerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 10px; /* Adjust the top margin to separate text and image */
  }

  .headerContainer h1 {
    font-size: 40px;
    height: 30px;
    color: #dc143c;
  }

  .headerContainer p {
    font-size: 20px;
    color: black;
    text-align: center;
    margin-top: 10px; /* Add margin to separate text from button */
  }

  .headerContainer button {
    background-color: #dc143c;
    color: #fff;
    margin-top: 10px; /* Add margin to separate button from text */
  }

  .centralImageContainer {
    margin-bottom: 0;
  }
  .centralImage {
    margin-top: 10px;
  }
  .foodCardContainer {
    width: 80%;
    text-align: center;
    margin-top: 20px;
    margin-right: 0; /* Remove the right margin */
    margin-bottom: 0;
  }
}
